<div (click)="okay()">
  <img src="../../../assets/img/close.svg" class="d-flex ml-auto mt-2 mr-2 pointer">
</div>
<div class="modal-body span-popup d-flex flex-column align-items-center">
  <label class="pt-2 mb-4 mon-semi-class fs-20 color-blue">{{title}}</label>
  <label class="mb-0 mon-reg-class-black fs-16 color-black">{{message}}</label>
  <div class="col-sm-12 col-md-12 col-lg-12 mt-4 mb-2 button-group d-flex flex-row justify-content-center">
    <div class="button-left d-flex bg-theme-black" (click)="okay()">
      <button type="submit" class="button-red color-white bg-theme-black mon-semi-class pt-3 pb-3 fs-17">Okay</button>
    </div>
  </div>
</div>