@import "../../../variables.scss";
@import "../../../mixins.scss";

::ng-deep {
  .candidate-modal-open {
    .modal-content {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: 0;
      margin: 0 auto;
      border-radius: 10px;
      left: 0;
      right: 0;
      top: 30%;
      @include iPhoneSE {
        width: 80%;
        left: 0px;
        right: 20px;
      }
      @include device-iP678 {
        width: 85%;
        left: 0px;
        right: 25px;
      }
    }
  }
}
