<ng-template #mymodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let data of fakeData | slice: 0-3">
      {{data.title}}
      <hr>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalService.dismissAll()">Ok</button>
  </div>
</ng-template>
<app-page-loader #spinnerLoad></app-page-loader>