<nav class="main-header  navbar navbar-expand navbar-white navbar-light" [ngClass]="{'main-header2':isCollapsed==true}">
  <ul class="navbar-nav">
    <li class="nav-item custom-nav-item">
      <a class="nav-link2 " data-widget="pushmenu" id="toggleMenu"><i class="fa fa-bars" id="innerToggleMenu"></i></a>
    </li>
    <form [formGroup]="searchForm" (submit)="onSearch(searchForm) " class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <input class="form-control form-control-navbar  ssp-reg-class" formControlName="search" type="search"
          name="search" placeholder="Search transactions, invoices or help" aria-label="Search">
      </div>
    </form>
  </ul>
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-life-ring color-nav-icon"></i>
        <span class="badge badge-danger navbar-badge">3</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="javascript:;" class="dropdown-item"></a>
      </div>
    </li>
  IN FUTURE IT CAN BE USEFULL
  -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-comments color-nav-icon"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a [routerLink]="['/dashboard/inbox']" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Brad Diesel
                <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
              </h3>
              <p class="text-sm">Call me whenever you can...</p>
              <p class="text-sm "><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/inbox']" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                John Pierce
                <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
              </h3>
              <p class="text-sm">I got your message bro</p>
              <p class="text-sm "><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/inbox']" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Nora Silvester
                <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
              </h3>
              <p class="text-sm">The subject goes here</p>
              <p class="text-sm "><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/inbox']" class="dropdown-item dropdown-footer text-center">See All Messages</a>
      </div>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="javascript:;">
        <!-- <span class="dot navbar-badge"></span> -->
        <i class="fa fa-bell color-nav-icon"></i>
        <span class="badge dot  navbar-badge">
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/inbox']" class="dropdown-item">
          <i class="fa fa-envelope mr-2"></i> 4 new messages
          <span class="float-right  text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/customer']" class="dropdown-item">
          <i class="fa fa-users mr-2"></i> 8 new customer
          <span class="float-right  text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/dashboard/table']" class="dropdown-item">
          <i class="fa fa-bars mr-2"></i> 3 new reports
          <span class="float-right text-sm">2 days</span>
        </a>
      </div>
    </li>
    <li class="nav-item user-name d-md-none d-sm-none d-lg-block d-xl-block">
      <span href="javascript:;"
        class="nav-link user-name ssp-semi-class mr-2 d-md-none d-sm-none d-lg-block d-xl-block">Jhon
        doe</span>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" data-slide="true" href="javascript:;">
        <div class="user-icon">
          <img src="../../../assets/icons/profileicon.png" alt="" srcset="">
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right profile-dropdown-menu ssp-reg-class">
        <a href="javascript:;" class="dropdown-item text-center d-sm-block d-md-none  d-lg-none d-xl-none">Jhon doe</a>
        <div class="dropdown-divider d-sm-block d-md-none d-lg-none d-xl-none"></div>
        <a (click)="modalService.openPopupMessage('Profile is not ready','Please wait')"
          class="dropdown-item profile-menu-item">
          <i class="fa fa-user mr-2" aria-hidden="true"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a (click)="modalService.openPopupMessage('Setting is getting updated','Please wait')"
          class="dropdown-item profile-menu-item">
          <i class="fa fa-cog mr-2" aria-hidden="true"></i> Setting
        </a>
      </div>
    </li>
  </ul>
</nav>