@import "../../../variables.scss";
@import "../../../mixins.scss";

.menu-toggle {
  background: $theme-black;
  display: flex;
  padding: 5px;
  z-index: 8;
  transform: translate(-50px, 0px);
  position: absolute;

  #innerToggleMenu {
    color: $white;
  }

  &:hover {
    cursor: pointer;
  }
}

.navbar-custom {
  background-color: $white;
  box-shadow: 1rem -1rem 0.2rem 1rem;
}

.nav-link {
  color: $chart-gray !important;
  padding-left: 0.3rem !important;
  padding-right: 0.8rem !important;
}

.form-control {
  background-color: $white;
  width: 20rem;
  border: none;
  box-shadow: none;
  border-bottom: 1px $theme-border-black solid;

  &::placeholder {
    font-family: "Source Sans Pro";
    color: $theme-black;
    font-size: 16px;
  }
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none;
}

.user-icon {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  transform: translateY(-12px);
  margin-left: -18px;
}

.vl {
  border-left: 2px solid $f1-white;
  position: relative;
  margin: 0.3rem 1rem;
  top: 0;
  display: block;
  height: 2rem;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: $progress-green;
  border-radius: 50%;
  display: inline-block;

  transform: translate(0px, -7px);
  @include device-sm {
    transform: translate(-9px, -5px);
  }
}

.color-nav-icon {
  color: $nav-icon;
}

.form-control {
  background-color: transparent !important;
  border-bottom: none !important;
  @include device-sm {
    width: 20% !important;
  }
  &:focus {
    background-color: transparent !important;
  }
}

.custom-nav-item {
  margin-top: 1% !important;
}
.nav-link2 {
  padding-left: 1rem;
  padding-right: 1rem;
  @include device-sm {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
.navbar-expand .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  @include device-sm {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}

.main-header.main-header2 {
  margin-left: 0% !important;
  transition: margin-left 0.3s ease-in-out;
}

.main-header {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px !important;
}

.btn-navbar {
  background-color: transparent !important;
  border: 0;
}

.navbar-badge {
  font-size: 0.6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 0.5rem !important;
  top: 0.8rem !important;
  @include device-sm {
    right: -0.2rem !important;
    top: 0.8rem !important;
  }
}
.user-name {
  @include device-sm {
    display: none;
  }
}

.form-control-navbar {
  border-right-width: 0;
}
.form-control-navbar + .input-group-append {
  margin-left: 0;
}
.form-control-navbar,
.btn-navbar {
  transition: none;
}
.dropdown-header,
.dropdown-footer {
  text-align: center;
  font-weight: 600;
}

.user-name {
  &.nav-item {
    border-left: 1px solid $f1-white;
    padding-left: 10px;
  }
  @include device-sm {
    display: none;
  }
}

.dropdown-menu-lg {
  padding: 0;
  @include device-sm {
    max-width: 300px;
    min-width: 72vw;
  }
}

.dropdown-item {
  padding: 0.5rem 1rem;
  min-width: 17rem;
  &:hover {
    background-color: lighten($theme-black, 40%);
    color: $white;
    transition: background-color 200ms;
  }
  &.profile-menu-item {
    min-width: 1rem !important;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: $white;
  text-decoration: none;
  background-color: lighten($theme-black, 5%);
  // border-radius: .4rem;
}