<div class="d-flex" id="wrapper">
  <app-sidenav #sideBar class="bg-theme-black"></app-sidenav>
  <div id="page-content-wrapper">
    <app-navbar [sideBar]="sideBar"></app-navbar>
    <div class="container-fluid col-12 mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>