@import "../../../variables.scss";
@import "../../../mixins.scss";

::ng-deep {
  .popup-modal-delete {
    .modal-content {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 30%;
      pointer-events: auto;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: 0;
      margin: 0 auto;
      border-radius: 10px;
      left: 0;
      right: 0;
      top: 10%;
      margin: 0 auto;
      @include iPhoneSE {
        width: 80%;
        left: 0px;
        right: 20px;
      }
      @include device-iP678 {
        width: 85%;
        left: 0px;
        right: 25px;
      }
    }
  }

  .modal-dialog {
    max-width: 50%;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -3.9rem -3.9rem -1rem auto;
    text-shadow: none;
    opacity: 1 !important;
  }
  .modal-backdrop.show {
    opacity: 0.8;
  }
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0 !important;
  }
  .modal-body {
    text-align: justify !important;
  }
  .modal-open .modal {
    margin-top: -5%;
  }

  .button-left {
    margin: 0px 5%;
  }

  .button-red {
    padding: 10px 45px;
    margin: 0px;
    width: 100%;
  }
}
