
<div class="width-96">
    <div class="d-flex row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-4 graphPadding">
            <div class="card-body shadow-sm bg-white d-flex">
                <div class="chartData col-5">
                    <div class="chartLabel col-12">Total Views</div>
                    <div class="chartAmount col-12 mt-5 ">246K</div>
                    <div class="chartScale col-12 d-flex">
                        <i class="material-icons downArrow">arrow_downward</i>13.8%
                    </div>
                </div>
                <div class=" col-7 d-flex barChart">
                    <echarts class="miniBarChart" [initOpts]="initOpts" [options]="miniBarChart"></echarts>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-4 graphPadding">
            <div class="card-body shadow-sm bg-white d-flex ">
                <div class="chartData col-5">
                    <div class="chartLabel col-12">Total Views</div>
                    <div class="chartAmount col-12 mt-5 ">2453</div>
                    <div class="chartScaleGreen col-12 d-flex">
                        <i class="material-icons upArrow">arrow_upward</i>13.8%
                    </div>
                </div>
                <div class=" col-7 d-flex barChart">
                    <echarts class="miniBarChart" [initOpts]="initOpts" [options]="miniBarChart"></echarts>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-4 graphPadding">
            <div class="card-body shadow-sm bg-white d-flex ">
                <div class="chartData col-5">
                    <div class="chartLabel col-12">Total Views</div>
                    <div class="chartAmount col-12 mt-5 ">$39K</div>
                    <div class="chartScale col-12 d-flex">
                        <i class="material-icons downArrow">arrow_downward</i>13.8%
                    </div>
                </div>
                <div class=" col-7 d-flex barChart">
                    <echarts class="miniBarChart" [initOpts]="initOpts" [options]="miniBarChart"></echarts>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-6 graphPadding">
            <div class="card-body shadow-sm bg-white ">
                <app-doughnut></app-doughnut>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-6 graphPadding">
            <div class="card-body shadow-sm  bg-white ">
                <app-barchart></app-barchart>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-3 formWidth"><app-table></app-table></div>