@import "../../../../mixins.scss";
@import "../../../../variables.scss";

.miniBarChart {
  margin-left: auto;
  top: 20px;
}

.chartData {
  right: 22px;
}

.chartLabel {
  color: $light-gray;
  font-weight: 500;
}

.chartAmount {
  font-weight: 700;
  color: $chart-gray;
  font-size: 30px;
}

.chartScale {
  color: $chart-red;
  font-size: 12px;
  font-weight: 700;
}

.chartScaleGreen {
  color: $chart-green;
  font-size: 12px;
  font-weight: 700;
}

.downArrow {
  font-size: 15px;
  font-weight: 800;
  margin-top: 1px
}

.upArrow {
  font-size: 15px;
  font-weight: 800;
  margin-top: 1px
}

.container-fluid {
  margin: 0 auto;
  max-width: 96%;
}

.width-96 {
  margin: 0 auto;
  max-width: 97%;
  margin-top: 15px;
}

.formWidth {
  margin: 0 auto;
  max-width: 98%;
  margin-top: 15px;
}

.graphPadding {
  padding: 18px;
}

.barChart {
  @include device-lgb {
    right: 30px;
  }
  @include device-lg {
    right: 50px;
  }
  @include tablet {
    right: 0px;
  }
}


