@import "../../../../variables.scss";
@import "../../../../mixins.scss";

table {
  table-layout: fixed;
  width: 100%;
  font-size: 14px !important;
}
.border-none {
  border: none;
  width: 100%;
}
.table-drop-menu {
  background-color: $white;
  border: none;
  color: $select-gray;
  font-family: inherit;
  font-size: inherit;
}
.border-data-none {
  border: none;
}


/*
    Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #rt1 {
    display: block;
    position: relative;
    width: 100%;
  }

  .rt {
    width: 100%;
    font-size: 0.75em;
    line-height: 1.25em;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #rt1 thead {
    display: block;
    float: left;
  }
  #rt1 thead tr {
    display: block;
  }

  #rt1 th {
    display: block;
    width: auto;
    font-size: 10px;
    padding: 0.81rem 0.75rem;
  }
  .rt th {
    text-align: left;
    // background: #fff2b2;
  }

  #rt1 .thead-row-2 {
    display: none !important;
  }
  #rt1 tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  #rt1 tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  #rt1 td {
    display: block;
    padding: 0.88rem 0.75rem;
    min-height: 1.25em;
  }

  /* Force table to not be like tables anymore */
  // table, thead, tbody, th, td, tr {
  //  display: block;
  // }

  // /* Hide table headers (but not display: none;, for accessibility) */
  // thead tr {
  //  position: absolute;
  //  top: -9999px;
  //  left: -9999px;
  // }

  // tr {
  //   margin: 0 0 1rem 0;
  // }

  // tr:nth-child(odd) {
  //   background: #ccc;
  // }

  // td {
  //  /* Behave  like a "row" */
  //  border: none;
  //  border-bottom: 1px solid #eee;
  //  position: relative;
  //  padding-left: 50%;
  // }

  // td:before {
  //  /* Now like a table header */
  //  position: absolute;
  //  /* Top/left values mimic padding */
  //  top: 0;
  //  left: 6px;
  //  width: 45%;
  //  padding-right: 10px;
  //  white-space: nowrap;
  // }

  /*
        Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        // */
  // td:nth-of-type(1):before { content: "First Name"; }
  // td:nth-of-type(2):before { content: "Last Name"; }
  // td:nth-of-type(3):before { content: "Job Title"; }
  // td:nth-of-type(4):before { content: "Favorite Color"; }
  // td:nth-of-type(5):before { content: "Wars of Trek?"; }
  // td:nth-of-type(6):before { content: "Secret Alias"; }
  // td:nth-of-type(7):before { content: "Date of Birth"; }
}
.tableRow {
  background-color: $table-blue;
}

.table-striped tbody tr {
  &:nth-of-type(odd) {
    background-color: $table-stripe !important;
  }

  &:hover {
    // cursor: pointer;
    background-color: darken($table-blue, 5%) !important;
    transition:background-color 300ms;
  }
  &:focus{
    color: $white !important;
    background-color: $theme-black !important;
  }
  &:active{
    background-color: lighten($theme-black, 15%)  !important;
    td{
      color: white !important;
    }


  }
}

.word-break-keep {
  word-break: keep-all !important;
  font-size: 1.7vh;
}

h6 {
  color: $theme-black;
}

.all-clear-box {
  min-width: 2rem;
  max-width: 5rem;
  padding: 0.2rem;
  background-color: $theme-black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $white;
  &:hover,
  :focus {
    cursor: pointer;
    background-color: darken($theme-black, 15%);
    transition: background-color 600ms;
  }
  &:active{
    transform: scale(.96);
    transition:transform 200ms ;
  }
}

td {
  &:not(:first-child) {
    color: $table-td-color;
    &:hover {
      cursor: pointer;
      // background-color: darken($table-stripe, 20%);
      // transition: background-color 600ms;
    }
  }
  &:last-child {
    text-align: center;
  }
}

.triple-dot {
  position: absolute;
  transform: translate(-7px, -3px);
  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  min-width: 2rem !important;
  a {
    color: $theme-black;
    &:active {
      color: $theme-black;
      background-color: $dd-white;
    }
  }
}


.dropdown-item {
  padding: 0.5rem 1rem;
  min-width:3rem;
}
