<div class="row">
  <div class="col-md-12">
    <h6 class="ssp-reg-class fs-27 ">Data table</h6>
    <table class="table table-bordered table-striped  table-hover rt" id="rt1">
      <thead>
        <tr class="tableRow ssp-bold-class">
          <th scope="col" class="color-blue">CONTRACT NAME</th>
          <th scope="col" class="color-blue">ID</th>
          <th scope="col" class="color-blue">CONTRACT TYPE</th>
          <th scope="col" class="color-blue">SUPPLIES TYPE</th>
          <th scope="col" class="color-blue">CONTRACT BUGDET</th>
          <th scope="col" class="color-blue">TERM TYPE</th>
          <th scope="col" class="color-blue">STATUS</th>
        </tr>
        <tr class="thead-row-2">
          <th scope="col">
            <input type="text" class="border-none" placeholder="Search..." />
          </th>
          <th scope="col">
            <input type="text" class="border-none" placeholder="Search..." />
          </th>
          <th scope="col">
            <input type="text" class="border-none" placeholder="Search..." />
          </th>
          <th scope="col">
            <div class="form-group mb-0 select-dropdown">
              <select class="form-control table-drop-menu" id="exampleFormControlSelect1">
                <option>Choose..</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </th>
          <th scope="col">
            <input type="text" class="border-none" placeholder="Search..." />
          </th>
          <th scope="col">
            <input type="text" class="border-none" placeholder="Search..." />
          </th>
          <th scope="col">
            <!-- <input type="text" class="border-none" placeholder="search..." /> -->
            <div class=" all-clear-box">
              <div>
                <i class="material-icons  float-left">
                  clear
                </i>
              </div>
              <div class="text-center ssp-bold-class  fs-15">All</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="fs-16">
        <!-- For Pagination -->
        <tr *ngFor="let item of collection | paginate: { itemsPerPage: 20, currentPage: p }"></tr>
        <tr class="ssp-reg-class">
          <td class="color-black ssp-bold-class">Contract Management System
            <div class="dropdown float-right my-auto">
              <i class="material-icons
                 triple-dot mr-1
                 color-light-orange
                 float-right" data-toggle="dropdown">
                more_vert
              </i>
              <div class="dropdown-menu dropdown-menu-sm-right dropdown-menu-left">
                <a [routerLink]="['/dashboard/table']" class="dropdown-item float-left text-sm">
                  Edit
                </a>
                <a (click)="deletePopup.open(1)" class="dropdown-item float-left text-sm">
                  Delete
                </a>
                <a [routerLink]="['/dashboard/table']" class="dropdown-item float-left text-sm">
                  Copy
                </a>
                <a [routerLink]="['/dashboard/table']" class="dropdown-item float-left text-sm">
                  Status
                </a>
                <a (click)="download()" class="dropdown-item float-left text-sm">
                  Download file
                </a>
                <a (click)="export()" class="dropdown-item float-left text-sm">
                  Export
                </a>
              </div>
            </div>
          </td>
          <td class="border-data-none">1</td>
          <td class="border-data-none">Software Licence</td>
          <td class="border-data-none">Vendor</td>
          <td class="border-data-none">9,60,000</td>
          <td class="border-data-none">1 Month</td>
          <td class="border-data-none">Active</td>
        </tr>
        <tr>
          <td class="color-black ssp-bold-class">Contract Management System</td>
          <td class="border-data-none">1</td>
          <td class="border-data-none">Software Licence</td>
          <td class="border-data-none">Vendor</td>
          <td class="border-data-none">9,60,000</td>
          <td class="border-data-none">1 Month</td>
          <td class="border-data-none">Active</td>
        </tr>
        <tr>
          <td class="color-black ssp-bold-class">Contract Management System</td>
          <td class="border-data-none">1</td>
          <td class="border-data-none">Software Licence</td>
          <td class="border-data-none">Vendor</td>
          <td class="border-data-none">9,60,000</td>
          <td class="border-data-none">1 Month</td>
          <td class="border-data-none">Active</td>
        </tr>
        <tr>
          <td class="color-black ssp-bold-class">Contract Management System</td>
          <td class="border-data-none">1</td>
          <td class="border-data-none">Software Licence</td>
          <td class="border-data-none">Vendor</td>
          <td class="border-data-none">9,60,000</td>
          <td class="border-data-none">1 Month</td>
          <td class="border-data-none">Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pagination-controls class="float-right ssp-bold-class" previousLabel="Previous" nextLabel="Next" responsive="true"
  (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
<app-popup-delete #deletePopup [module]="'company'" (deleted)=ngAfterViewInit()></app-popup-delete>