<ng-template #mymodal>
  <div (click)="closeOpened()">
    <img src="../../../assets/img/close.svg" class="d-flex ml-auto mt-2 mr-2">
  </div>
  <div class="modal-body span-popup d-flex flex-column align-items-center">
    <label class="pt-2 mb-4 ssp-reg-class fs-20 color-blue">Logout</label>
    <label class="mb-0 ssp-reg-class fs-16 color-black">Are you sure, you want to logout?</label>
    <div class="col-sm-12 col-md-12 col-lg-12 mt-4 mb-2 button-group d-flex flex-row justify-content-center">
      <div class="button-left d-flex" (click)="logout()">
        <button type="submit"
          class="button-red color-white bg-theme-black ssp-reg-class pt-3 pb-3 fs-17">Logout</button>
      </div>
      <div class="button-left d-flex" (click)="closeOpened()">
        <button type="submit"
          class="button-red color-white bg-theme-black ssp-reg-class pt-3 pb-3 fs-17">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>