/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";
@import "~ngx-toastr/toastr.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// fonts

@font-face {
  font-family: "sf-pro-display-block";
  src: url("./assets/fonts/sf/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: "sf-pro-display-blockitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-BlackItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-bold";
  src: url("./assets/fonts/sf/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "sf-pro-display-bolditalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-BoldItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-heavy";
  src: url("./assets/fonts/sf/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family: "sf-pro-display-heavyitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-HeavyItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-light";
  src: url("./assets/fonts/sf/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: "sf-pro-display-lightitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-LightItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-medium";
  src: url("./assets/fonts/sf/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "sf-pro-display-mediumitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-MediumItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-regular";
  src: url("./assets/fonts/sf/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "sf-pro-display-regularitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-RegularItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-semibold";
  src: url("./assets/fonts/sf/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "sf-pro-display-semibolditalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-SemiboldItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-thin";
  src: url("./assets/fonts/sf/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "sf-pro-display-thinitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-ThinItalic.otf");
}

@font-face {
  font-family: "sf-pro-display-ultralight";
  src: url("./assets/fonts/sf/SF-Pro-Display-Ultralight.otf");
}

@font-face {
  font-family: "sf-pro-display-Ultralightitalic";
  src: url("./assets/fonts/sf/SF-Pro-Display-UltralightItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-bold";
  src: url("./assets/fonts/sf/SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: "sf-pro-text-bolditalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-BoldItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-heavy";
  src: url("./assets/fonts/sf/SF-Pro-Text-Heavy.otf");
}

@font-face {
  font-family: "sf-pro-text-heavyitalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-HeavyItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-light";
  src: url("./assets/fonts/sf/SF-Pro-Text-Light.otf");
}

@font-face {
  font-family: "sf-pro-text-lightitalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-LightItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-medium";
  src: url("./assets/fonts/sf/SF-Pro-Text-Medium.otf");
}

@font-face {
  font-family: "sf-pro-text-mediumitalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-MediumItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-regular";
  src: url("./assets/fonts/sf/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "sf-pro-text-regularitalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-RegularItalic.otf");
}

@font-face {
  font-family: "sf-pro-text-semibold";
  src: url("./assets/fonts/sf/SF-Pro-Text-Semibold.otf");
}

@font-face {
  font-family: "sf-pro-text-semibolditalic";
  src: url("./assets/fonts/sf/SF-Pro-Text-SemiboldItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("./assets/fonts/source-sans-pro/SourceSansPro-Light.otf");
}

@font-face {
  font-family: "Source Sans Pro SemiBold";
  src: url("./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./assets/fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

body {
  font-family: "sf-pro-display-regular";
  position: relative;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overflow-x: hidden;
}

.ssp-reg-class {
  font-family: "Source Sans Pro";
}

.ssp-light-class {
  font-family: "Source Sans Pro Light";
}

.ssp-semi-class {
  font-family: "Source Sans Pro SemiBold";
}

.ssp-bold-class {
  font-family: "Source Sans Pro Bold";
}

//scrollbar
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  outline: 1px solid #c7c7c7;
  @include border-radius(10px);
}

// gobal-style
button:disabled,
button[disabled] {
  border: 1px solid $theme-gray !important;
  background-color: $theme-gray !important;
  color: $head-black !important;
  cursor: not-allowed;
  pointer-events: none;
}

label {
  font-family: "sf-pro-text-heavy";
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  border: solid 1px;
}

.form-div .form-div-inner .form-group .form-control.date-pic {
  padding-top: 12px;
  position: relative;
  @include device-xll {
    padding-top: 8px;
  }
}
input::placeholder {
  color: $placeholder;
}

a:hover,
.btn:hover {
  text-decoration: none;
}

.no-data {
  color: $table-gray;
}

.msg_danger {
  color: #cf3916;
  font-size: 12px;
}

.dropdown-item {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.calendar-img {
  width: 22px;
}

.modal-body button.close {
  position: absolute;
  top: -14px;
  right: -14px;
  background: $theme-black;
  color: $white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  opacity: 1;
}
.form-control-tr-gl {
  background: transparent;
  border: none;
}
:focus {
  outline: none;
}
// .date-pic .mat-datepicker-toggle {
//   // top:-8px;
//   // @include device-lgb {
//   //   top: -36px;
//   // }
// }
// gobal table design
@include device-xll {
  .my-custom-scrollbar {
    position: relative;
    height: 450px;
    overflow: scroll;
  }

  .table-wrapper-scroll-y {
    display: block;
  }
}

#no-more-tables {
  width: 100%;
  white-space: nowrap;

  table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  td {
    border: none;
    padding: 16px 20px;

    @include device-xl {
      padding: 10px;
    }
  }

  th {
    border: none;
    font-family: "sf-pro-display-heavy";
    padding: 16px 20px;
  }

  @include device-xll {
    // .tableBodyScroll tbody {
    //   display: block;
    //   max-height: 450px;
    //   overflow-y: auto;
    // }

    // .tableBodyScroll thead,
    // tbody tr {
    //   display: table;
    //   width: 100%;
    //   table-layout: fixed;
    // }
  }

  thead {
    tr {
      th {
        padding: 0 20px;

        @include device-xl {
          padding: 10px;
        }

        font-size: 14px;
        color: $head-black;
      }
    }
  }

  tbody {
    tr {
      color: $table-gray;
      cursor: pointer;
      &.bg {
        td {
          background: rgba(235, 235, 235, 0.47058823529411764);
        }
      }

      td {
        border-bottom: 1px solid $border-gray;
        border-top: 1px solid $border-gray;

        &:last-child {
          border-right: 1px solid $border-gray;
          border-left: 1px solid $border-gray;
          border-radius: 0 5px 5px 0;
        }

        &:first-child {
          border-left: 1px solid $border-gray;
          border-radius: 5px 0 0 5px;
        }

        span {
          width: 12px;
          height: 12px;
          display: inline-block;
          border-radius: 25px;
          // vertical-align: middle;
          margin-right: 4px;

          &.all-visible {
            background: $placeholder;
          }

          &.green {
            background: $theme-green;
          }

          &.blue {
            background: $theme-light-blue;
          }

          &.violet {
            background: #0076ff;
          }

          &.gold {
            background: $theme-yellow;
          }

          &.red {
            background: $red;
          }
        }

        .add-img {
          display: inline-block;
          width: auto;
          height: auto;

          img {
            width: 15px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .filter {
    margin: 0 4px;
    cursor: pointer;
  }
}

// pagination scss
.sort-pagination {
  border: solid 1px #ebebeb;
  border-radius: 5px;

  ul.pagination {
    margin: 0;
  }

  .page-link {
    background-color: transparent;
    color: $placeholder;
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    border: none !important;

    &:focus {
      box-shadow: none;
    }
  }

  .page-item.active .page-link {
    z-index: 1;
    color: $white;
    background-color: transparent !important;
    cursor: pointer;
  }

  .page-item.disabled .page-link {
    background-color: transparent;
  }

  .sort-list {
    margin: 4px 0 !important;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 8px 0 0;
      cursor: pointer;
      &.active {
        border: 1px solid $notification-gray;
        padding: 4px;
        border-radius: 25px;
        height: 22px;
        width: 22px;
        line-height: 0;
      }

      span {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 25px;
        vertical-align: middle;
        margin-right: 4px;

        &.all-visible {
          background: $placeholder;
        }

        &.green {
          background: $theme-green;
        }

        &.blue {
          background: $theme-light-blue;
        }

        &.violet {
          background: #0076ff;
        }

        &.gold {
          background: $theme-yellow;
        }

        &.red {
          background: $red;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  // #no-more-tables thead tr {
  //   // position: absolute;
  //   // top: -9999px;
  //   // left: -9999px;
  // }

  #no-more-tables tr {
    border: 1px solid $border-gray;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid $border-gray;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
Label the data
*/
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

// box-listing-gobal-css
.pagination-bg {
  background: #3c3c3c;
  color: $white;
}

.list-global {
  padding: 0;
  text-align: right;
  overflow: scroll;
  white-space: nowrap;
  a {
    margin-left: 15px;
  }
  // @include device-xl {
  //   text-align: center;
  // }
  li {
    display: inline-block;
    text-align: center;
    border: 1px solid $border-gray;
    padding: 20px 0 0;
    border-radius: 5px;
    width: 200px;

    @include device-xl {
      width: 170px;
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
  }

  h2 {
    font-size: 14px !important;
    font-family: "sf-pro-display-heavy";
    color: $theme-black !important;
  }

  p {
    color: $table-gray;
    font-size: 34px;
    font-family: "sf-pro-display-light";
    margin-bottom: 24px;
  }
}

//global-button
.button-red {
  @include tablet {
    width: 10rem;
  }
  background: #ff0000;
  color: $white;
  width: 250px;
  border: none;
  font-family: "sf-pro-display-heavy";
  padding: 14px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;

  @include device-xll {
    // width: 100%;
    padding: 10px;
  }
}

.form_error_blk {
  margin-top: 5px;
  padding-left: 15px;
  position: absolute;
  bottom: -26px;
  left: 6px;
  .form_error_class {
    font-size: 14px;
    color: #ea231b;
  }
}

.form-group {
  position: relative;
}

.contract-page {
  .list-tag {
    list-style: none;
    margin: 0;
    padding: 15px;
    background: #ebebeb;
    border: 1px solid $placeholder;
    border-radius: 5px;

    li {
      .tag-main {
        background: $white;
      }
    }
  }
}

.list-tag {
  list-style: none;
  margin: 0;
  padding: 15px;
  background: #ebebeb;
  border: 1px solid #d5d5d5;
  border-radius: 5px;

  li {
    display: inline-block;
    margin-right: 25px;

    .tag-main {
      font-size: 14px;
      color: $table-gray;
      line-height: 35px;
      height: 38px;
      border-radius: 19px;
      border: solid 1px $notification-gray;
      background-color: $white;
      display: block;
      padding: 0 10px 10px 20px;

      .close-tag {
        margin-left: 10px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

// Global-right&left-form
.form-div {
  padding: 40px;
  border-right: solid 1px $border-gray;
  border-left: solid 1px $border-gray;

  @include device-xll {
    padding: 25px 22px;
  }

  h2 {
    font-family: "sf-pro-display-heavy";
    font-size: 28px;
    color: $head-black;

    @include device-xll {
      font-size: 22px;
    }
  }

  p {
    font-family: "sf-pro-display-light";
    font-size: 16px;
    color: $table-gray;
  }

  .form-div-inner {
    .multi-form-control {
      border: 1px solid #ced4da;
      @include border-radius(0.25rem);
      display: block;
      height: 100%;
    }
    .form-group {
      margin-bottom: 1.6rem;

      @include device-xll {
        margin-bottom: 1.2rem;
      }

      label {
        font-family: "sf-pro-display-heavy";
        font-size: 14px;
        color: $head-black;
        padding-left: 20px;
      }

      .form-control {
        height: 50px;

        @include device-xll {
          height: 44px;
        }

        @include device-xl {
          height: 40px;
        }

        border-radius: 5px;
        border: solid 1px $notification-gray;
        font-family: "sf-pro-display-light";
        font-size: 16px;
        background: $border-gray;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $theme-gray;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: $theme-gray;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          color: $theme-gray;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: $theme-gray;
        }

        &:focus {
          background: $white !important;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
      }

      .input-group {
        .calendar {
          border: solid 1px $notification-gray;
          border-radius: 0 5px 5px 0;
          border-left: solid 1px transparent;
          padding: 0.375rem 1.2rem;
          background: $border-gray;
        }

        .form-control {
          border-radius: 5px 0 0 5px;
          border-right: solid 1px transparent !important;
        }
      }
    }
  }
}

// Global content scss
.content-div {
  padding: 40px 15px;

  @include device-xl {
    padding: 25px 15px;
  }

  h2 {
    font-family: "sf-pro-display-heavy";
    font-size: 28px;
    color: $head-black;

    @include device-xll {
      font-size: 24px;
    }
  }

  p {
    font-size: 16px;
    color: $table-gray;

    @include device-xll {
      font-size: 16px;
    }

    a {
      font-size: 18px;
      color: $theme-blue !important;
      font-family: "sf-pro-display-medium";
    }
  }
}

.breadcrumb {
  margin-top: 2.25rem;
  @include device-xll {
    margin-top: 1.25rem;
  }
  @include device-xl {
    margin-top: 0rem;
  }

  background: transparent;
  padding: 0.75rem 0rem;
  margin-bottom: 0;

  .breadcrumb-item + .breadcrumb-item::before {
    color: $placeholder;
    content: "|";
  }

  .breadcrumb-item {
    font-size: 18px;

    @include device-xl {
      font-size: 14px;
    }

    font-family: "sf-pro-display-medium";

    a {
      color: $placeholder;
    }

    &.active {
      color: $theme-black;
    }
  }
}

// tab content scss
.tab {
  h2 {
    font-family: "sf-pro-display-heavy";
    font-size: 28px;
    color: $head-black;

    @include device-xl {
      font-size: 22px;
    }
  }

  .nav-tabs {
    border: 1px solid #dee2e6;

    .nav-item {
      width: 50%;
      text-align: center;

      .nav-link {
        color: $theme-gray;
        font-size: 20px;
        font-family: "sf-pro-display-heavy";

        &.active {
          color: $head-black;
        }
      }
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: $white;
  border-color: #e8e8e8 #e8e8e8 $white;
}

.form-group1 {
  position: relative;
}

.form-control-lg:focus ~ .add-icon {
  display: none;
}

.form-control-lg:focus ~ span {
  height: 2px;
  width: 12px;
  background-color: $table-gray;
  position: absolute;
  right: 15px;
  top: 32px;
  bottom: 0;
  margin: auto;
}

.add-icon {
  position: absolute;
  right: 15px;
  width: 12px;
  height: 12px;
  top: 44px;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 11;
  margin: auto;
}

.input-styles {
  border: solid 1px;
  padding: 15px 10px;
  outline: none;
}

// difference status link scss
.contracts-info {
  .green {
    background: $theme-green;
  }

  .blue {
    background: #0076ff;
  }

  .yellow {
    background: $theme-yellow;
  }

  .syk-blue {
    background: $theme-light-blue;
  }

  .red {
    background: $red;
  }

  .btn-g {
    font-size: 16px;
    width: 250px;

    @include device-xl {
      width: 180px;
      font-size: 16px;

      @include device-md {
        margin: 0 0 4px;
      }
    }

    background: #5a5a5a;
    color: $white !important;
    display: inline-block;
    border-radius: 5px;
    font-family: "sf-pro-display-bold";

    span {
      padding: 8px 15px;
      display: inline-block;
    }

    &:after {
      border-right: 1px solid $theme-border-silver;
      content: "";
      display: inline-block;
    }

    img {
      float: right;
    }
  }

  .left-btn {
    a {
      font-size: 18px;
      width: 250px;

      @include device-xl {
        width: 180px;
        font-size: 16px;

        @include device-md {
          width: 160px;
          font-size: 14px;
          margin: 4px 2px;
        }
      }
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      color: $white;
      padding: 8px;
      font-family: "sf-pro-display-bold";
      cursor: pointer;
      &.trans {
        border: 1px solid #343a40;
        color: $table-gray;
      }
    }
  }

  .pagei {
    color: $table-gray;
    font-size: 12px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
  }
}

// popup modal scss
.span-popup {
  text-align: center;
  padding: 20px 22px 40px;

  h2 {
    font-family: "sf-pro-display-heavy";
    font-size: 24px;
    color: $head-black;
  }

  p {
    font-family: "sf-pro-display-light";
    font-size: 18px;
    color: $table-gray;
  }

  a {
    text-decoration: none;

    &.red-btn {
      display: block;
      width: 90%;
      font-size: 18px;
      margin: auto;
      border-radius: 5px;
      background-color: $red;
      font-family: "sf-pro-display-heavy";
      color: $white;
      padding: 12px;
    }

    &.blue-text-btn {
      color: #0076ff;
      font-size: 18px;
      display: block;
      margin: auto;
      font-family: "sf-pro-display-medium";
    }
  }
}

table {
  tr {
    td {
      .input-group-append {
        img {
          width: 17px;
        }
      }
    }
  }
}

.r-img {
  img {
    border-left: 1px solid $table-gray;
    width: 42px;
    height: 42px;
    padding: 15px;
  }
}

.c-img {
  img {
    height: 42px;
    padding: 10px 15px 10px 10px;
  }
}

.btn-main {
  display: table;
  width: 100%;

  .right-btn {
    display: table-cell;
  }

  .left-btn {
    display: table-cell;
  }
}

table {
  td {
    .form-control-lg:focus ~ span {
      top: 0;
    }
  }
}

.ng-select {
  font-family: "sf-pro-display-regular";

  .ng-select-container {
    height: 55px !important;
    border: 1px solid transparent !important;
    background: transparent !important;
    padding: 15px 0;
    color: $table-gray;
    font-size: 16px;

    .ng-value-container {
      .ng-value {
        color: $table-gray;
        font-size: 16px;
      }

      .ng-input {
        input {
          padding-top: 10px;
          color: $table-gray;
          font-size: 16px;
        }
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      display: none !important;
    }
  }

  .ng-clear-wrapper {
    display: none !important;
  }
}

.mydp {
  border: none !important;
  display: block !important;

  .selectiongroup {
    background-color: transparent !important;
    width: 180px;

    input {
      height: 55px !important;
      background-color: transparent !important;
      color: $table-gray;
      font-size: 16px;
      font-family: "sf-pro-display-regular";
    }

    .selbtngroup {
      height: 55px !important;
    }
  }
}
// create-serive-global
.con-level {
  .value-con {
    // float: left;
    &:last-child {
      margin-right: 0px;
      // float: right;
    }
  }
  .one {
    width: 40%;
    display: inline-block;
    margin-right: 10px;
    @include device-sm {
      width: 100%;
    }
  }
  .two {
    width: calc(30% - 10px);
    @include device-xls {
      width: calc(30% - 10px);
    }
    @include device-sm {
      width: 100%;
    }
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .three {
    width: calc(50% - 10px);
    @include device-xls {
      width: calc(50% - 10px);
    }
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .value-con {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    h2 {
      font-family: "sf-pro-display-heavy";
      font-size: 18px;
      color: $head-black;
      margin-bottom: 4px;
    }
    p {
      color: $table-gray;
      font-family: "sf-pro-display-light";
      margin: 0;
      font-size: 14px;
    }
    .bg-metal {
      background: #f7f7f7;
    }
    .cal-text {
      width: 146px;
      font-family: "sf-pro-text-heavy";
      font-size: 12px;
      font-size: 10px;
      display: inline-block;
      vertical-align: sub;
    }
    .x-cla {
      width: 40px;
      height: 20px;
      display: inline-block;
      padding: 10px;
      font-size: 12px;
      font-family: "sf-pro-display-heavy";
    }
    .cal-d {
      &.one {
        width: 160px;
        margin-right: 0;
        float: left;
      }
      display: inline-block;
      input {
        border: 1px solid #e6e2e2;
        border-radius: 5px;
        padding: 5px;
        width: 120px;
      }
      label {
        display: block;
        font-size: 12px;
      }
      select {
        width: 150px !important;
        height: 40px;
        margin: 0 !important;
        padding: 0;
        font-size: 14px;
        padding: 0 14px;
      }
      option {
        font-size: 14px;
        padding: 0 14px;
      }
      .repot {
        select {
          width: 200px !important;
          font-size: 14px;
          padding: 0 14px;
          @include device-md {
            width: 100% !important;
          }
        }
        option {
          font-size: 14px;
          padding: 0 14px;
        }
      }
      .add-icon {
        right: 24px;
        top: 14px;
      }
      .form-control-lg:focus ~ span {
        right: 20px;
        top: 0;
      }
      .form-group.form-group1 {
        margin-bottom: 0;
      }
    }
  }
}
.rap-re {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  h2 {
    font-family: "sf-pro-display-heavy";
    font-size: 16px;
    color: $head-black;
    margin-bottom: 4px;
  }
  p {
    background: #f7f7f7;
    color: $table-gray;
    font-family: "sf-pro-display-light";
    margin: 0;
    font-size: 14px;
    input {
      border: 1px solid #ded9d9;
      height: 40px;
      margin: 0 10px;
      border-radius: 5px;
    }
    i {
      font-family: "sf-pro-display-heavy";
      font-size: 14px;
      color: $head-black;
      margin: 0 8px;
      font-style: inherit;
    }
  }
}

.toggles {
  width: 40px;
  text-align: center;
  position: absolute;
  right: 40px;
  top: 14px;
}
.ios-toggle,
.ios-toggle:active {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}
.checkbox-label {
  display: block;
  position: relative;
  padding: 10px 0;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 20px;
  /*border-radius*/
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer;
}
.checkbox-label:before {
  content: "";
  display: block;
  margin: 0 0 0 15px;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 20px;
  width: 20px;
  /*border-radius*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px $dd-white;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px $dd-white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px $dd-white;
}
.checkbox-label.remove-w:before {
  margin: 0;
}
.ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}
.ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
}

#checkbox1 + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px $dd-white;
  -moz-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px $dd-white;
  box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px $dd-white;
}
#checkbox1:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}
#checkbox1:checked + .checkbox-label:after {
  color: rgba(19, 191, 17, 1);
}

.create-add {
  background: #f7f7f7;
  color: $table-gray;
  font-family: "sf-pro-display-light";
  margin: 0;
  font-size: 14px;
}

.close-icon {
  display: inline-block;
  cursor: pointer;
}

button.btn.add_row_btn {
  color: $table-gray !important;
  border: solid 1px $table-gray !important;
  padding: 8px 24px;
  display: inline-block;
}
.count-select {
  margin: 0 16px;
}
.btnpicker {
  background-color: transparent !important;
}

.btnclearenabled {
  background-color: transparent !important;
}

.icon-mydpremove {
  display: none;
}

.mat-datepicker-toggle {
  float: right;
  position: relative;
  width: 24px;
  height: 24px;
}

.mat-select-value {
  color: $table-gray;
  font-size: 16px;
}

.mat-select-arrow {
  color: $table-gray;
}

.mat-datepicker-toggle-default-icon {
  display: none;
}
.cdk-focused,
.cdk-program-focused {
  box-shadow: none !important;
  outline: none;
  background: transparent;
}

.mat-button-focus-overlay {
  display: none;
}
// .mat-datepicker-content-touch .mat-calendar {
//   // width: 50vh !important;
//   // height: 61vh !important;
// }
.error {
  color: red;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: #585858;
  text-decoration: none;
  cursor: pointer;
}

//ng-multiselect style

.ng-select-container {
  padding: 0 !important;
  display: block !important;
  height: auto !important;
}
.ng-select .ng-select-container {
  height: auto !important;
}
.ng-value-container {
  padding: 0 !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-right: 5px !important;
  margin-bottom: 10px !important;
  background-color: $dd-white !important;
  padding: 8px 15px 10px 15px !important;
  @include border-radius(25px);
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border: none !important;
  float: right !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 16px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  /* background-color: #f5faff; */
  color: #333 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: $white;
  background-color: #999;
}

//Timepicker style
.timepicker_wrap {
  display: inline-block;
  position: relative;
  .ngx-material-timepicker-toggle {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}

.popover {
  padding: 15px 50px 15px 15px;
  border: none !important;
  @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  background: $white !important;
}
.popover p {
  color: #989898 !important;
  margin-bottom: 0;
  font-size: 13px;
}
.popover span {
  color: #989898 !important;
  font-size: 12px;
}
.report-sec {
  .card {
    margin-bottom: 1rem;
    .card-header {
      padding: 0;
      button {
        &.btn-link {
          position: relative;
          text-decoration: none;
          &:after {
            content: "-";
            position: absolute;
            top: 8px;
            right: 25px;
            font-size: 20px;
            color: $placeholder;
          }
        }
        &.collapsed {
          &:after {
            content: "+";
            position: absolute;
            top: 8px;
            right: 25px;
            font-size: 20px;
            color: $placeholder;
          }
        }
        width: 100%;
        text-align: left;
        padding: 0;
        h2 {
          font-family: "sf-pro-display-heavy";
          font-size: 16px;
          color: $head-black;
          background: $white;
          margin-bottom: 0;
          padding: 1rem 6rem 1rem 1rem;
        }
        p {
          background: #f7f7f7;
          color: $table-gray;
          font-family: "sf-pro-display-light";
          margin: 0;
          font-size: 14px;
          border-top: 1px solid rgba(0, 0, 0, 0.03);
          i {
            font-family: "sf-pro-display-heavy";
            font-size: 14px;
            color: $head-black;
            margin: 0 8px;
            font-style: inherit;
          }
        }
      }
    }
    .card-body {
      padding: 0;
    }
  }
}
.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
// .mat-select-value{
//   // padding-left: 10px;
// }
#no-more-tables tbody tr:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(230, 230, 230, 1);
  box-shadow: 0px 0px 5px 1px rgba(230, 230, 230, 1);
  transform: scale(0.99);
}
#no-more-tables tbody tr {
  transition: all 0.2s ease-in-out;
  // padding-left: 15px;
  // font-family: "sf-pro-display-regular";
}

.mat-datepicker-content-touch .mat-calendar {
  min-width: 250px !important;
  min-height: 312px !important;
  max-width: 750px !important;
  max-height: 788px !important;
  width: 296px !important;
  height: 360px !important;
}

@media (orientation: landscape) {
  .mat-datepicker-content-touch .mat-calendar {
    min-width: 250px !important;
    min-height: 312px !important;
    max-width: 750px !important;
    max-height: 788px !important;
    width: 296px !important;
    height: 360px !important;
  }
}

.td-date {
  // width: 222px;
  .def-width {
    // display: table-cell;
    input {
      width: 180px;
    }
  }
}

.mat-calendar-table-header th {
  font-weight: 700;
}
.contracts-info {
  .tg {
    tr {
      td {
        overflow: inherit !important;
        .popover {
          padding: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          position: absolute !important;
        }
        .edit-icon {
          vertical-align: top;
          padding-left: 5px;
        }
        .popover-body {
          padding: 0px 5px;
          font-size: 10px;
          .bold-span {
            color: #000;
          }
        }
      }
    }
  }
}
.date-pic {
  position: relative;
}

.table-bordered td {
  .mat-datepicker-toggle {
    top: 18px;
    padding-right: 40px;
  }
}

.All-li {
  .tooltip-inner {
    background-color: $placeholder;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $placeholder;
  }
}
.Approved-li {
  .tooltip-inner {
    background-color: $theme-green;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $theme-green;
  }
}
.Revision-li {
  .tooltip-inner {
    background-color: $theme-light-blue;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $theme-light-blue;
  }
}
.Verification-li {
  .tooltip-inner {
    background-color: #0076ff;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #0076ff;
  }
}
.gold-li {
  .tooltip-inner {
    background-color: $theme-yellow;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $theme-yellow;
  }
}
.Expired-li {
  .tooltip-inner {
    background-color: $red;
  }
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $red;
  }
}
.tooltip-inner {
  font-size: 10px;
  // color: #000000;
}
.overlay {
  position: fixed !important;
  opacity: 0.9;
}

.edit-span {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  position: relative;
  top: -1px;
  margin-left: 7px;
}

.mat-icon-button {
  width: 40px !important;
  height: 40px !important;
}
.def-width2 {
  .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
  }
}

option:disabled {
  color: $dd-white;
}

.mat-option.mat-option-disabled {
  color: $dd-white;
}
.form-group {
  .mat-icon-button {
    width: 28px !important;
    height: 28px !important;
  }
}
.form-control {
  .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
  }
}

.mat-select {
  padding: 0 12px !important;
}
.table-create .table tbody tr td .td1.d-date {
  width: 220px !important;
}
.date-cap {
  text-transform: uppercase;
}
a.no-click {
  cursor: default !important;
}

.form-control-tr::-webkit-input-placeholder {
  /* Edge */
  text-transform: capitalize !important;
}

.form-control-tr:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-transform: capitalize !important;
}

.form-control-tr-gl::placeholder {
  text-transform: capitalize !important;
}
.form-control-tr-gl::-webkit-input-placeholder {
  /* Edge */
  text-transform: capitalize !important;
}
.form-control-tr-gl:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-transform: capitalize !important;
}

.form-control-tr-gl::placeholder {
  text-transform: capitalize !important;
}

app-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}

.flex-display {
  display: flex;
}

.hel-Medi-class {
  color: $theme-blue;
  font-family: "Helvetica Neue";
  font-weight: 500;
}

.hel-reg-class {
  color: $theme-home-dark-blue;
  font-family: "Helvetica Neue";
}

.mon-semi-class {
  color: $theme-blue;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}

.mon-med-class {
  color: $theme-blue;
  font-family: "Montserrat-Medium";
  font-weight: 500;
}

.otp {
  font-family: "Montserrat-SemiBold";
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $theme-disable-gray !important;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $theme-disable-gray !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-20 {
  font-size: 20px;
}

.fs-17 {
  font-size: 17px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-10 {
  font-size: 10px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-19 {
  font-size: 19px;
}

.fs-33 {
  font-size: 33px;
}

.fs-60 {
  font-size: 60px;
}

.fs-32 {
  font-size: 32px;
}

.color-offer {
  color: $chat-border !important;
}

.border-input-gray {
  border-bottom: solid 1px $input-gray-border;
}

.color-input-gray {
  color: $input-gray-border;
}

.color-orange {
  color: $theme-orange !important;
}

.color-light-orange {
  color: $theme-light-orange !important;
}

.color-text-light {
  color: $text-light-color !important;
}

.color-light-silver {
  color: $theme-light-silver !important;
}

.color-faint-silver {
  color: $theme-faint-silver !important;
}

.color-blue {
  color: $theme-title-blue !important;
}

.color-silver {
  color: $theme-silver !important;
}

.color-gray {
  color: $theme-gray !important;
}

.color-black {
  color: $black !important;
}

.color-theme-black {
  color: $theme-black !important;
}

.color-heading-gray {
  color: $chart-gray !important;
}

.color-light-black {
  color: $theme-light-black !important;
}

.color-href-blue {
  color: $theme-href-blue !important;
}

.color-link {
  color: $link-color !important;
}

.color-link-underline {
  color: $link-color !important;
  text-decoration: underline;
}

.upload-text {
  color: $upload-text !important;
}

.color-head-black {
  color: $head-black !important;
}

.profile-text-black {
  color: $profile-text-black !important;
}

.color-head-black {
  color: $head-black !important;
}

.color-text-black {
  color: $theme-text-black !important;
}

.color-white {
  color: $white !important;
}

.color-back-blue {
  color: $theme-back-blue !important;
}

.color-text-blue {
  color: $theme-text-blue !important;
}

.color-head-gray {
  color: $graph-head-gray !important;
}

.color-table-gray {
  color: $table-head-gray !important;
}

.color-blue {
  color: $theme-blue !important;
}

.color-text-red {
  color: $theme-red !important;
}

.color-textarea-color {
  color: $textarea-color !important;
}

.color-feedback-color {
  color: $feedback-color !important;
}

.color-theme-lighter-gray {
  color: $theme-lighter-gray !important;
}

.sf-reg-class {
  font-family: "sf-pro-text-regular";
}

.mon-reg-class {
  color: $theme-blue;
  font-family: "Montserrat";
  font-weight: 500;
}

.mon-light-class {
  color: $theme-blue;
  font-family: "Montserrat-Light";
  font-weight: 500;
}

.mon-bold-class {
  font-family: "Montserrat-Bold";
  font-weight: 500;
}

.mon-reg-class-black {
  color: $theme-black;
  font-family: "Montserrat";
  font-weight: 500;
}

.icon:hover {
  fill: #da4567;
}

/* .flex-margin {
  margin: 2% auto;
  display: flex;
} */

.login-section {
  padding: 45px 35px;
  background: transparent;
  @include iPhoneSE {
    padding: 20px 25px;
  }
}

.section-blue {
  background: $theme-section-blue;
}

.background-white {
  background: $white;
}

.selected-blue {
  background: $theme-selected-blue;
}

.bg-theme-black {
  background: $theme-black !important;
}

.bg-orange {
  background: $theme-home-orange;
}

.bg-yellow {
  background: $theme-home-yellow;
}

.bg-light-blue {
  background: $theme-home-light-blue;
}

.bg-dark-blue {
  background: $theme-home-dark-blue;
}

.bg-pink {
  background: $theme-pink;
}

.bg-light-silver {
  background: $theme-light-silver;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $theme-orange;
  border-radius: 20px;
}

.both-center {
  justify-content: center;
  align-items: center;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme-orange;
}

.close-icon-css {
  width: 35px;
  height: 36px;
  position: relative;
  z-index: 9;
  cursor: pointer;
  top: -0.7rem;
}

.close-icon-css:before,
.close-icon-css:after {
  position: absolute;
  content: " ";
  height: 33px;
  right: 17px;
  top: 1px;
  border-radius: 18px;
  border: solid 2px;
  background-color: $black;
}
.close-icon-css:before {
  transform: rotate(45deg);
}
.close-icon-css:after {
  transform: rotate(-45deg);
}
.btn:focus,
.btn.focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  max-width: 100%;
  border-radius: 2px;
}

.select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $placeholder;
}

.br-8 {
  border-radius: 8px;
}

.m-0-auto {
  margin: 0 auto;
}

.text-short {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mat-checkbox-layout {
  .mat-checkbox-label {
    white-space: normal !important;
  }
}

label {
  margin-bottom: 0px !important;
}

.demo-chart {
  height: 500px;
}

#page-content-wrapper {
  width: 100%;
  background-color: $white;
}

#wrapper {
  position: relative;
}

.mat-radio-label-content {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: $theme-black;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: "" !important;
  display: inline-block;
  margin-left: 0.5rem;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: "" !important;
  display: inline-block;
  margin-right: 0.5rem;
}
.ngx-pagination .pagination-previous > a {
  color: $theme-title-blue !important;
  background-color: transparent !important;
  &:hover {
    background-color: transparent !important;
  }
  &:active {
    color: darken($theme-black, 15%) !important;
    animation-name: click !important;
    transform: scaleX(0.95);
    transition: transform 300ms;
  }
}
.ngx-pagination .pagination-next > a {
  background-color: transparent !important;
  color: $theme-title-blue !important;
  &:hover {
    background-color: transparent !important;
  }
  &:active {
    color: darken($theme-black, 15%) !important;
    animation-name: click !important;
    transform: scaleX(0.95);
    transition: transform 300ms;
  }
}
.ngx-pagination {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  // margin-right: 0.1625rem !important;
  position: relative;
  bottom: 0;
  right: 1px;
  justify-content: center;
  font-size: small;
  // @include device-sm{
  //   .responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
  //     display: none !important;
  //   }
  // }
}

.ngx-pagination li:not(:first-child):not(:last-child) > a {
  min-height: 36px !important;
  min-width: 36px !important;
  max-height: 36px !important;
  max-width: 36px !important;
  font-size: small !important;
  justify-content: center !important;
  border-radius: 30px !important;
  padding: 0.5875rem 0.875rem !important;
  background: $grey-300 !important;
  color: $white !important;
  display: flex !important;
  &:hover {
    background: $theme-black !important ;
    transition: background 300ms;
  }
}

.ngx-pagination .current {
  display: inline-flex !important;
  padding: 0.5875rem 0.875rem !important;
  min-height: 36px !important;
  min-width: 36px !important;
  max-height: 36px !important;
  max-width: 36px !important;
  font-size: small !important;
  justify-content: center !important;
  background: darken($theme-black, 10%) !important;
  color: $white;
  border-radius: 30px !important;
}
@media screen and (max-width: 601px) {
  .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none !important;
  }
}

.dropdown-menu {
  padding: 0.2rem !important;
}

.pointer {
  cursor: pointer;
}
