
<h5 class="color-heading-gray">Sales Distribution</h5>
<br />
<div>
  <div class="d-block">
    <canvas baseChart [data]="demodoughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
