@import "../../../variables.scss";
@import "../../../mixins.scss";

.account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-logo {
  text-align: center;
  margin-top: 15px;
  h1 {
    letter-spacing: 5px;
  }
  p {
    color: rgba($color: $text-gray, $alpha: 0.5);
  }
}

.page-wrapper .content {
  padding: 30px;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px $table-shadow;
  opacity: 1;
}

.account-title {
  font-size: 32px;
  font-weight: 400;
  margin: 60px 0 40px;
  text-align: center;
}

.account-box {
  display: flex;
  width: 100%;
  @include device-sm {
    display: block;
  }
  @include tablet {
    display: block;
  }
  @include ipad-pro-Portrait {
    display: block;
  }
  .bg-img {
    background: url(../../../assets/pattern.svg);
    height: 100vh;
    width: 50%;
    background-size: cover;
    @include device-sm {
      display:none;
    }
    @include universal {
      display:none;
    }
    @include tablet {
      display:none;
    }
    @include ipad-pro-Portrait {
      display:none;
    }
  }
}

.account-wrapper {
  width: 50%;
  background-color: $white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include device-sm {
    width: 100%;
  }
  @include universal {
    width: 100%;
    padding: 0px;
  }
  @include tablet {
    width: 100%;
    padding: 0px;
  }
  @include ipad-pro-Portrait {
    width: 100%;
    padding: 0px;
  }
}

.account-logo {
  margin-bottom: 20px;
  text-align: center;
}

.account-box .form-group {
  margin: 30px auto;
  width: 50%;
  @include device-sm {
    margin: 30px auto;
    width: 70%;
  }
  @include universal {
    margin: 30px auto;
    width: 80%;
  }
  @include iPhoneSE {
    margin: 30px auto;
  }
  @include tablet {
    margin: 30px auto;
  }
}

.account-box .account-btn {
  background: $white;
  margin: auto;
  border: 0;
  width: 40%;
  border: 1px solid $theme-black;
}

.account-box a {
  color: $blue-grey-900;
  font-size: 16px;
}

.account-box .form-control {
  background-color: $white;
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 1px $theme-border-black solid;
  &::placeholder {
    font-family: "Source Sans Pro";
    color: $theme-black;
    font-size: 16px;
  }
}

.account-logo img {
  width: 100px;
}

::ng-deep {
  .mat-checkbox-frame {
    border-color: $theme-black;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $theme-black;
  }
}

.tnc {
  position: absolute;
  bottom: 10px;
}
.invalid-feedback {
  margin-left: 12px;
}
