<div class="account-page">
  <div class="account-box">
    <div class="bg-img"></div>
    <div class="account-wrapper">
      <div class="container">
        <div class="login-logo mb-5">
          <h1 class="ssp-bold-class fs-27 color-theme-black">Manager Login</h1>
          <p class="ssp-reg-class fs-14">Please login to your account.</p>
        </div>
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" autocomplete="off" placeholder="Username"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" autocomplete="off"
              placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" #password />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <mat-checkbox formControlName="rememberMe" #rememberMe>
              <label class="ssp-reg-class fs-16 color-theme-black" (click)="checkBoxToggle()">Remember me</label>
            </mat-checkbox>
            <a><label class="ssp-reg-class fs-16 color-theme-black float-right">Forgot Password</label></a>
          </div>
          <!-- <div class="form-group">
            <div class="select-dropdown">
              <select formControlName="type">
                <option value="">Select</option>
                <option value="Customer">Customer</option>
                <option value="Retailer">Retailer</option>
              </select>
            </div>
          </div> -->
          <div class="form-group d-flex justify-content-center mt-5">
            <button type="submit"
              class="btn btn-primary btn-block account-btn ssp-reg-class fs-14 color-white bg-theme-black ml-0">
              Login
            </button>
            <button [routerLink]="['/signup']"
              class="btn btn-primary btn-block account-btn ssp-reg-class fs-14 color-theme-black mr-0">
              Sign Up
            </button>
          </div>
        </form>
      </div>
      <label class="tnc ssp-reg-class fs-10 color-theme-black">Term of use. Privacy policy</label>
    </div>
  </div>
</div>
<app-page-loader #spinnerLoad></app-page-loader>
<app-modal #modal></app-modal>
