<div class="account-page">
    <div class="account-box">
        <div class="bg-img"></div>
        <div class="account-wrapper">
            <div class="container signup">
                <div class="login-logo">
                    <h1 class="ssp-bold-class fs-27 color-theme-black">Manager Registration</h1>
                    <p class="ssp-reg-class fs-14">Welcome! Please Register yourself.</p>
                </div>
                <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                    <div class="row form-group ">
                        <div class="name-class  col-xs-1 col-sm-6 pl-0">
                            <input type="text" class="form-control" formControlName="firstName" autocomplete="off"
                                placeholder="First name"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class=" col-xs-1 col-sm-6 p-0 ">
                            <input type="text" class="form-control" formControlName="lastName" autocomplete="off"
                                placeholder="Last name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" autocomplete="off"
                            placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" autocomplete="off"
                            placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            #password />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="address" formControlName="address" class="form-control" autocomplete="off"
                            #confirmPassword placeholder="address"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                        <div class="invalid-feedback password_match" [ngClass]="!passcheck ? 'd-block' : 'd-none'">
                            <div *ngIf="!passcheck">Address not entered</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="dateOfBirth" formControlName="dateOfBirth" class="form-control" autocomplete="off"
                            #confirmPassword placeholder="dateOfBirth"
                            [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                            <div *ngIf="f.dateOfBirth.errors.required">Date of birth is required</div>
                        </div>
                        <div class="invalid-feedback password_match" [ngClass]="!passcheck ? 'd-block' : 'd-none'">
                            <div *ngIf="!passcheck">Date of birth not entered</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="city" formControlName="city" class="form-control" autocomplete="off"
                            #confirmPassword placeholder="city"
                            [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                        <div class="invalid-feedback password_match" [ngClass]="!passcheck ? 'd-block' : 'd-none'">
                            <div *ngIf="!passcheck">City not entered</div>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-primary btn-block account-btn ssp-reg-class fs-14 bg-theme-black">
                            Sign up
                        </button>
                    </div>
                </form>

                <div class="login-footer">
                    <h1 class="fs-16 color-theme-black" [routerLink]="['/login']">Already have an account? Sign in.</h1>
                    <p class="fs-12 color-theme-black mb-0">Terms of use. Privacy policy</p>
                </div>

            </div>
        </div>
    </div>
</div>