@import "../../../variables.scss";
@import "../../../mixins.scss";

:host #sidebar-wrapper {
  width: 4rem;
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  max-width: 100%;
  .list-group {
    width: 4rem;
  }
}

#sidebar-wrapper {
  min-height: 100vh;
  .title {
    padding: 20px;
  }
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper {
  .title {
    display: none;
  }
  .title-icon {
    margin-left: auto;
  }
  .list-group {
    width: 15rem;
    .menu-title {
      display: none;
    }
    .material-icons {
      margin-left: auto;
    }
  }
}

.nav-item {
  border-left: 5px solid transparent;
  margin: 5px 0px;
  position: relative;
  &.active {
    border-left: 5px solid $theme-border-head;
    background: $theme-border-black;

    .nav-link > * {
      color: $theme-back-blue !important;
    }
  }
  .highlight {
    + .sub-menu {
      display: flex;
    }
  }
  .sub-menu {
    .nav-item {
      margin-right: 5px;
      padding: 0.4rem 1rem;
      width: 10rem;
      text-align: left;
      margin: 0px;
      border-left-width: 0px;
      &.active {
        border-left: 0px solid $theme-border-head;
        .child-title {
          color: $theme-back-blue !important;
        }
      }
    }
  }
}

:host.toggled {
  #sidebar-wrapper {
    width: 15rem;
    .list-group {
      width: 15rem;
      transition: width 300ms;
    }
    .title {
      display: inline;
    }
    .title-icon {
      display: none;
    }
    .menu-title {
      display: inline-block;
      margin-bottom: 0px;
      transition: display 400ms;
      transition-delay:500ms;
    }
    .material-icons {
      margin-left: 0px;
    }
    .sub-menu {
      .nav-item {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  background: #43425d;
  list-style-type: none;
  padding: 0px;
  z-index: 1;
  flex-direction: column;
  top: 0px;
}

@media (max-width: 768px) {
  :host #sidebar-wrapper {
    .sub-menu {
      display: none;
    }
    width: 0;
    -webkit-transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    -o-transition: width 0.25s ease-out;
    transition: width 0.25s ease-out;
    max-width: 100%;
    position: relative;
    z-index: -10;
    .list-group {
      .material-icons {
        display: none;
      }
    }
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  :host.toggled {
    #sidebar-wrapper {
      .highlight {
        + .sub-menu {
          display: flex;
        }
      }
      width: 4rem;
      position: relative;
      z-index: 10;
      .title {
        display: none;
      }
      .title-icon {
        margin-left: auto;
        display: inline;
      }
      .list-group {
        width: 4rem;
        .menu-title {
          display: none;
          transition: display 300ms;
        }
        .material-icons {
          margin-left: auto;
          display: inline;
        }
      }
    }
  }
}

.side-nav-closed {
  max-width: 5% !important;
}
.fa-icon-size {
  font-size: 1.5rem;
  margin: 0.4rem 5% !important;

  &:hover {
    cursor: pointer !important;
  }
}

.nav-sidebar .nav-item > .nav-link {
  &:hover {
    cursor: pointer !important;
  }
}

.nav-text {
  letter-spacing: 0.1rem;
}
