<div class="col-2 p-0" id="sidebar-wrapper">
    <div class="d-flex align-items-center">
        <div class="ssp-bold-class fs-15 color-white title">IMPEKABLE</div>
        <i class="material-icons color-orange fs-60 title-icon">bar_chart</i>
    </div>
    <div class="list-group list-group-flush">
        <div routerLinkActive="active" [routerLinkActiveOptions]="{match:menuItem.matchRoute}"
            *ngFor="let menuItem of menuItems; let parentIndex = index" class="nav-item">
            <ng-container *ngIf="menuItem.route; else noRouter">
                <a class="nav-link d-flex" [routerLink]="[menuItem.route]" (click)="toggleSubMenu(-1)">
                    <i class="material-icons color-white pr-2">{{ menuItem.icon }}</i>
                    <p class="ssp-reg-class color-white fs-18 menu-title">{{ menuItem.label }}</p>
                </a>
            </ng-container>
            <ng-template #noRouter>
                <a class="nav-link d-flex" (click)="toggleSubMenu(parentIndex)"
                    [class.highlight]="indexValue() == parentIndex">
                    <i class="material-icons color-white pr-2">{{ menuItem.icon }}</i>
                    <p class="ssp-reg-class color-white fs-18 menu-title">{{ menuItem.label }}</p>
                </a>
                <ul class="sub-menu" *ngIf="menuItem?.subMenu?.length">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        *ngFor="let child of menuItem.subMenu">
                        <a class="ssp-reg-class color-white fs-18 child-title" [routerLink]="[child.route]"
                            (click)="toggleSubMenu(-1)">{{child.label}}</a>
                    </li>
                </ul>
            </ng-template>
        </div>
        <div class="nav-item">
            <a class="nav-link d-flex" (click)="logout()">
                <i class="material-icons color-white pr-2">exit_to_app</i>
                <p class="ssp-reg-class color-white fs-18 menu-title">Logout</p>
            </a>
        </div>
    </div>
</div>
<app-popup-logout #popupLogout></app-popup-logout>